USE [master]
GO
/****** Object:  Database [MonitFlota]    Script Date: 11/1/2024 2:56:46 AM ******/
CREATE DATABASE [MonitFlota]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MonitFlota', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MonitFlota.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MonitFlota_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MonitFlota_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MonitFlota].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MonitFlota]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 11/1/2024 2:56:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[j_Id] [int] IDENTITY(1,1) NOT NULL,
	[j_Service] [int] NOT NULL,
	[j_Delivery] [nvarchar](100) NULL,
	[j_Location] [nvarchar](100) NULL,
	[j_Skills] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[j_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 11/1/2024 2:56:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[vh_Id] [int] IDENTITY(1,1) NOT NULL,
	[vh_Profile] [nvarchar](50) NOT NULL,
	[vh_Start] [nvarchar](100) NULL,
	[vh_End] [nvarchar](100) NULL,
	[vh_Capacity] [nvarchar](100) NULL,
	[vh_Skills] [nvarchar](100) NULL,
	[vh_TimeWindow] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[vh_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([j_Id], [j_Service], [j_Delivery], [j_Location], [j_Skills]) VALUES (1, 300, N'1', N'26.000991,44.952871', N'1,14')
INSERT [dbo].[Jobs] ([j_Id], [j_Service], [j_Delivery], [j_Location], [j_Skills]) VALUES (2, 300, N'1', N'26.0268044471741, 44.9533228467913', N'1')
SET IDENTITY_INSERT [dbo].[Jobs] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([vh_Id], [vh_Profile], [vh_Start], [vh_End], [vh_Capacity], [vh_Skills], [vh_TimeWindow]) VALUES (1, N'driving-car', N'26.036540865898136,44.91442221794393', N'26.036540865898136,44.91442221794393', N'6', N'1,14,2', N'28800,43200')
INSERT [dbo].[Vehicles] ([vh_Id], [vh_Profile], [vh_Start], [vh_End], [vh_Capacity], [vh_Skills], [vh_TimeWindow]) VALUES (2, N'driving-car', N'26.036540865898136,44.91442221794393', N'26.036540865898136,44.91442221794393', N'2', N'6,16', N'28800,43200')
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
USE [master]
GO
